doctype html
html.no-js(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title VK Chat 
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")

    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/selectize.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="js/vendor/jquery-1.11.1.min.js")
    script(src='js/vendor/modernizr-2.6.2.min.js')
    script(src='js/md5.js')
    script(src='js/selectize.js')
    script(src='js/mousetrap.js')
    script(src='js/way.js')
  body
    header
      #chvk
        #ch Чат 
        #vk ВКонтакте
      a#writeToPasha(href='http://vk.com/write15676642', target='_blank') Написать Пашке
    main.authorized
      section.auth
        p
          | Для того, чтобы запустить приложение, необходимо пройти авторизацию ВКонтакте и разрешить приложению пользоваться VK API.
        p
          | Для этого перейдите по ссылке ниже (ссылка откроется в новой вкладке), и скопируйте URL из адресной строки.
        p
          | Не забудьте удостовериться в отсутсвии зловредных программ и скриптов, имеющих доступ к буферу обмена, или к внутренним методам вашего браузера.
        a.gotvk(href='https://oauth.vk.com/authorize?client_id=4570402&scope=notify,friends,photos,audio,video,docs,notes,pages,status,offers,questions,wall,groups,messages,email,notifications,stats,ads,offline,nohttps&redirect_uri=https://oauth.vk.com/blank.html&display=page&v=5.25&response_type=token', target='_blank') Авторизоваться ВКонтакте
        p После этого вставьте его в поле ниже, и нажмите "Войти"
        input#token(type='text')
        button#auth Войти
      section.mainframe
        ul#messages
        select#for(placeholder='Получатель... (не айди)')
        textarea#send.mousetrap(placeholder='Введите текст сообщения...', rows='5')
        button#sendButton(onclick='sendMessage();') Отправить
      section.errorframe
        h2 Ошибка
        code#error Ошибка
    script(src='js/main.js')
